
/*:root ist das oberste Element der Seite*/
:root {
  --page-padding: 16px;
  --font-base: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box; /* WICHTIG dass die Seitenränder clean bleiben */
  }

  body {
  position: relative;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  margin: 0;
  font-family: var(--font-base);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: rgb(184,184,184);
  margin-bottom: 60px;
} 


.left-side {
  display: flex;
  gap: 10px;
}
  .link_hgb {
    text-decoration: none;
    color: rgb(184,184,184);
  }
  
  .hidden{
    font-size: 1.5rem;
    cursor: default;
  }


  /*Personenliste mit Farbigen Boxen beim Darüberhovern*/

    #person_list p {
    position: relative;
    z-index: 10; /* neue Ebene */
    display: block;      /* WICHTIG */
    width: fit-content;  /* Box nur so breit wie der Text */
    cursor: default;
    color: rgb(184,184,184);
  }

  #person_list p::before {
    content: "";
    position: absolute;
    left: -2px;
    right: -2px;
    top: 30%;
    height: 1.2em;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: -1; /* bleibt hinter dem Text */
    transition: background-color 0.15s ease;
  }

  /* Text wird heller bei Hover */
  #person_list p:hover {
    color: rgb(239,240,241);
}

/* Box-Farben */
  #person_list .font_color_red:hover::before {
    background-color: rgb(255,8,28);
  }

  #person_list .font_color_peach:hover::before {
    background-color: rgb(255,140,135);
  }

  #person_list .font_color_babyblue:hover::before {
    background-color: rgb(132,182,213);
  }
  
  #person_list .font_color_signalpink:hover::before {
    background-color: rgb(255,11,250);
  }

  #person_list .font_color_lilac:hover::before {
    background-color: rgb(174,136,225);
  }

  #person_list .font_color_darkgreen:hover::before {
    background-color: rgb(0,107,18);
  }

  #person_list .font_color_royalblue:hover::before {
    background-color: rgb(0,2,249);
  }
  
  #person_list .font_color_purple:hover::before {
    background-color: rgb(147,65,194);
  }

  #person_list .font_color_navygreen:hover::before {
    background-color: rgb(143,177,132);
  }

  #person_list .font_color_darkblue:hover::before {
    background-color: rgb(0,0,147);
  }

  #person_list .font_color_cyan:hover::before {
    background-color: rgb(0,150,215);
  }

  #person_list .font_color_ochre:hover::before {
    background-color: rgb(180,136,58);
  }

  #person_list .font_color_burgundy:hover::before {
    background-color: rgb(157,23,21);
  }

  #person_list .font_color_rose:hover::before {
    background-color: rgb(255,166,252);
  }
  
  #person_list .font_color_darkpurple:hover::before {
    background-color: rgb(122,23,122);
  }

  #person_list .font_color_olive:hover::before {
    background-color: rgb(187,183,125);
  }

  #person_list .font_color_brown:hover::before {
    background-color: rgb(121,69,33);
  }

  #person_list .font_color_turquoise:hover::before {
    background-color: rgb(122,201,205);
  }

  #person_list .font_color_orange:hover::before {
    background-color: rgb(232,147,70);
  }
  
  #person_list .font_color_signalgreen:hover::before {
    background-color: rgb(0,229,0);
  }
  

  /* Werke bekommen immer die jeweilige Farbe */
  .content{
    font-size: 2.5rem;
    color: white;
    /* hover effekt mit länger verzögerung */
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    transition-delay: 0s;
    cursor: default;
  }

  /* highlight Namen und Projekte */
  .content .highlighted {
    color:inherit;
    transition-delay: 0s !important;
  }


  .content a{
    color: inherit; /* Farbe vom Elternelement wird übernommen */
    text-decoration: none;
  }
  
  .content .font_color_royalblue:hover, .content .font_color_blue:hover a {
    color: rgb(0,2,249);
    transition-delay: 0s;
  }
  
  .content .font_color_royalblue:not(:hover){
    transition-delay: 5s;
  }

  .content .font_color_royalblue.highlighted{
    color: rgb(0,2,249) !important;
  }
  
  .content .font_color_rose:hover, .content .font_color_rose:hover a {
    color: rgb(255,166,252);
    transition-delay: 0s;
  }
  .content .font_color_rose:not(:hover){
    transition-delay: 5s;
  }
  .content .font_color_rose.highlighted{
    color: rgb(255,166,252);
  }

  .content .font_color_red:hover {
    color: rgb(255,8,28);
    transition-delay: 0s;
  }
  .content .font_color_red:not(:hover){
    transition-delay: 5s;
  }
  
  .content .font_color_red.highlighted{
    color: rgb(255,8,28);
  }

  .content .font_color_darkgreen:hover {
    color: rgb(0,107,18);
    transition-delay: 0s;
  }
  .content .font_color_darkgreen:not(:hover){
    transition-delay: 5s;
  }

  .content .font_color_darkgreen.highlighted{
    color: rgb(0,107,18);
  }
  
  .content .font_color_signalpink:hover {
    color: rgb(255,11,250);
    transition-delay: 0s;
  }
  .content .font_color_signalpink:not(:hover){
    transition-delay: 5s;
  }
  
  .content .font_color_signalpink.highlighted{
    color: rgb(255,11,250);
  }
  .content .font_color_orange:hover {
    color: rgb(238,142,45);
    transition-delay: 0s;
  }
  .content .font_color_orange:not(:hover){
    transition-delay: 5s;
  }

  .content .font_color_orange.highlighted{
    color: rgb(238,142,45);
  }
  
  .content .font_color_brown:hover, .content .font_color_brown:hover a {
    color: rgb(129,66,23);
    transition-delay: 0s;
  }
  .content .font_color_brown:not(:hover){
    transition-delay: 5s;
  }
  
  .content .font_color_brown.highlighted {
    color: rgb(129,66,23);
  } 
  
  .content .font_color_signalgreen:hover, .content .font_color_signalgreen:hover a {
    color:  rgb(0,229,0);
    transition-delay: 0s;
  }
  .content .font_color_signalgreen:not(:hover){
    transition-delay: 5s;
  }

  .content .font_color_signalgreen.highlighted{
    color:  rgb(0,229,0);
  }

  .content .font_color_babyblue:hover {
    color:  rgb(139,182,215);
    transition-delay: 0s;
  }
  .content .font_color_babyblue:not(:hover){
    transition-delay: 5s;
  }

  .content .font_color_babyblue.highlighted{
    color:  rgb(139,182,215);
  }

  
  .content .klasse:hover, .content .klasse:hover a{
    color: black; 
    transition-delay: 0s;
  }
  .content .klasse:not(:hover){
    transition-delay: 5s;
  }
  
  /* das zweite braucht man für den Link <a> damit es auch am Anfang verschwindet */
  .content .collab:hover, .content .collab:hover a {
    color: rgb(0,21,151); 
    transition-delay: 0s;
  }
  .content .collab:not(:hover){
    transition-delay: 5s;
  }

  /* emojis werden anders gelöst */
.content .emoji {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    transition-delay: 0s;
}

.content .emoji:hover {
    opacity: 1 !important;  /* !important zum Testen */
    transition-delay: 0s;
}

.content .emoji:not(:hover) {
    opacity: 0;  
    transition-delay: 5s;
}


#person_list {
    position: absolute; /* damit die person_list über den content schwebt */
    line-height: 35%; 
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    max-height: 0;
    padding: 0 5px;
}

#person_list.show {
    max-height: 1000px;
    padding: 5px;
    max-width: calc(20% - 10px); /* damit sich person_list nicht mit info_text überschneidet */
    left: var(--page-padding);
}


#toggle-button {
    font-size: 1.5rem;
    font-style: normal;
    cursor: pointer;
    user-select: none;
}

#toggle-button:hover {
    color: #666;
}

/* info-button */
#info-button {
    font-size: 1.5rem;
    font-style: normal;
    cursor: pointer;
    user-select: none;
    padding-right: 5px;
}

#info-button:hover {
    color: #666;
}

#info_text {
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    max-height: 0;
    padding: 0 5px;
}

#info_text.show {
    max-height: 1000px;
    padding: 5px;
    max-width: calc(80% - 10px);  /* damit sich der Text nicht mit der Namenliste überschneidet */
    margin-left: auto;
}


/* Bilddarstellung*/

img{
  width: 20px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}