/* ======================================
    "Grundeinstellungen"
    ===================================== */

@font-face {
  font-family: "ABC Monument Grotesk";
  src: url("../fonts/ABCMonumentGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

    /* schwarze Box */
.box_black{
  position: fixed;
  bottom: 20px;
  right:20px;
  z-index: 1000;

  width: 500px;
  height: 305px;
  padding: 40px;
  background-color: black;
  color: white;
  font-size: 25px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Text ist in der mitte */

}

.box_black a{
  color: white;
  text-decoration: none;
}
.close-button{
  position: absolute;
  top: 7px;
  right: 7px;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

/* mobile Anpassung */

@media (max-width: 768px) {
        :root {
        --font-large: 22px;
        --line-large: 30px;

       --font-small: 18px;
       --line-small: 24px;

       --title-gap: 6px;
      }
  
    .box_black{
        width: calc(100vw - 32px);
        max-width: 300px;
        height: auto;
        min-height: 200px;
        padding: 30px 20px;
        bottom: 26px;
        right: 16px;
        font-size: var(--font-large);
        line-height: var(--line-large);
    }

    .close-button{
        font-size: var(--font-large);
    }

}

/* ============
     Vitrine 
  ============= */
.vitrine {
  position: fixed;  
  top: 50%;  /* vertikale Mitte */
  left: 50%;  /*horizontale Mitte */
  transform: translate(-50%, -50%);
  width:calc(100vw - 200px);
  max-width: 1500px;
  height: calc(100vh - 170px);
  max-height: 1000px;
  padding: 20px;
  border: 2px solid black;
  background-color: black;

  z-index: 1300;

  display: flex;
  align-items: center;
}


/* Bilder anpassung */
.klein img {
    max-height: 8vh;
    height: auto;
    max-width: 8vw;
    width: auto;
    object-fit: contain; /* Seitenverhältnis beibehalten */
}
.mittel img{
    max-height: 14vh;
    height: auto;
    max-width: 9vw;
    width: auto;
    object-fit: contain; /* Seitenverhältnis beibehalten */
}

.gross img{
    max-height: 25vh;
    height: auto;
    max-width: 25vw;
    width: auto;
    object-fit: contain; /* Seitenverhältnis beibehalten */
}